.list {
  list-style: none;
  padding: 0;
}

.list_item {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  box-shadow: 2px turquoise;
}

.list_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

.list_button:hover {
  background-color: rgb(189, 189, 250);
}
